/*
File:			wp3-iis.css
Description:	Custom styles for WP3 IIS Plugin
Version:  1.0

*/


/*@ Options screen */

tr.list_item_missing td.column-description {
	color: red;
}

span.error_message{
	color: red;
	display: none;
}

span.info_message{
	color: #7E7E7E;
}

/* @end */






