/*
File:			wp3-iis.css
Description:	Custom styles for WP3 IISPlugin
Version:  1.0

*/


/*@ Options screen */
ul.category_links_list {
	list-style-type: none; 
	margin: 0; 
	padding: 0;
}

ul.category_links_list li{ 
	margin: 0 5px 5px 5px; 
	padding: 5px; 
	font-size: 1.2em; 
	height: 1.5em;
	cursor: move;
	background-color: #DFDFDF;
	border: 1px solid #BFBFBF;
}

tr.list_item_missing td.column-description {
	color: red;
}

span.error_message{
	color: red;
	display: none;
}

span.info_message{
	color: #7E7E7E;
}

/* @end */


/*@ Meta box */
ul#categorychecklist li.category-missing { 
	color: red;
	margin-left: 26px;
}


/* @end */




